<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">conduit</a>

    <ul *ngIf="validator == false" class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link" routerLink="/">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">
          Sign in
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/register" routerLinkActive="active">
          Sign up
        </a>
      </li>
    </ul>
    <ul *ngIf="validator == true" class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/editor" routerLinkActive="active">
          <i class="ion-compose"></i>&nbsp;New Article
        </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/feed" routerLinkActive="active">
            <i class="icon ion-star"></i>&nbsp;your feed
          </a>
        </li>

      <li class="nav-item">
          <button (click)="logOut()">
          <i class="icon ion-log-out"></i>&nbsp;LogOut
        </button>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/profile', currentUser.username]" routerLinkActive="active">
          <img [src]="currentUser.image" *ngIf="currentUser.image" class="user-pic" />
          {{ currentUser.username }}
        </a>
      </li>

    </ul>

  </div>
</nav>