<div class="home-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your <i>Angular</i> knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">

      <div class="col-md-9">
        <div class="feed-toggle">
          Global Feed
          <hr>
          <ul *ngFor="let article of articles">
            <li>
              <div class = "cardhead">
                <img [src] = 'article.author.image' class = 'image'>
                <div class = 'title'>
                  <h6 class = 'title'>{{article.author.username}}</h6>
                  <p class = 'date'>{{article.createdAt}}<button (click)="followUser(article.author.username)">follow</button></p>
                </div> 
                <div class = 'likes'><i class="icon ion-heart"></i>{{article.favoritesCount}}</div>
              </div>
              <div [routerLink] = "['/article',article.slug]" style="cursor:pointer"> <h3>{{article.title}}</h3>
                <p>{{article.description}}</p>
                <p class = 'readmore'>Read more..</p>
              </div>
              <hr>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>